body{
	background-color: lightgrey;
}
h1{font-size: 30px;
	color: mediumpurple;
}
h2{font-size: 25px;
	color: cadetblue;
}

.big{
	font-size: 60px;
}

.uppercase{
	text-transform: uppercase;
}

.big.uppercase{
	color: purple;
}

h1 span{
	color: violet;
}	